<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-07T17:25:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/claudiamalheiros/Documents/IOS/Test01K/MyPlayground.playground</string>
</dict>
</plist>
